<h1>Impressum</h1>
<h2>Anschrift</h2>
<p>
    Tratoria Pizza Berlin GmbH <br>
    Alexanderplatz 1 <br>
    10178  Berlin <br>
    Deutschland <br>
</p>

<h2>Kontaktmöglichkeiten</h2>
<p>
    E-Mail-Adresse: contact&commat;trattoria-pizza.de <br>
    Telefon: +49 30 12345678 <br>
    Fax: +4930314 123 45678 <br>
</p>

<h2>Angaben zum Unternehmen</h2>
<p>
    Umsatzsteuer Identifikationsnummer (USt-ID): DE124356789 <br>
    Wirtschafts-Identifikationsnummer (W-IdNr): DE123456789-00001 <br>
    Geschäftsbereich: Gastronomie
</p>
