.idea
*.iml

# Compiled output
demo-project-backend/target
demo-project-frontend/dist
demo-project-frontend/tmp
demo-project-frontend/out-tsc
demo-project-frontend/bazel-out

# Node
demo-project-frontend/node_modules
npm-debug.log
yarn-error.log

# Miscellaneous
demo-project-frontend/.angular
/.angular/cache
.sass-cache/
demo-project-frontend/connect.lock
demo-project-frontend/coverage
demo-project-frontend/libpeerconnection.log
testem.log
demo-project-frontend/typings

# System files
.DS_Store
Thumbs.db
