<h1>Kontakt</h1>
<h2>Karriere</h2>
<p>
    Wir suchen im Moment nach Kellnern (m/w/d) und einem Manger (m/w/d) da unser Geschäft stetig wächst. <br>
    Für unsere Kellner bieten wir einen flexiblen Arbeitsrahmen mit einer Vergütung von 16 €/h. <br>
    Unsere Manager sind für 35 Stunden Vollzeit beschäftigt und können mit einer Bezahlung von 50.000 € p. a. rechnen. <br>
    Außerdem bieten wir allen unseren Mitarbeitern die Reste aus der Küche kostenfrei als Verpflegung an. <br>
    Falls Sie sich für eine dieser Stellen interessieren, dann kontaktieren Sie uns unter <a class="email" href="mailto:/catering@trattoria-pizza.de">career&commat;trattoria-pizza.de</a>
    oder telefonisch unter <a class="telephone" href="tel:+49 30 12345678">+49 30 12345678</a>.
</p>
<h2>Catering und geschlossene Gesellschaften</h2>
<p>
    Wir bieten Ihnen ebenfalls die Möglichkeit uns für Cateringaufträge zu beauftragen.
    Diese Möglichkeit bieten wir ab einer Gruppengröße von 10 Personen. <br>
    Für unser Catering verlangen wir eine Anzahlung von 5 € pro Person.
    Alle unsere Speisen können ebenfalls als Catering verlangt werden. <br>
    Sollten Sie sich für unser Catering entscheiden, dann kontaktieren Sie uns bitte unter <a class="email" href="mailto:/catering@trattoria-pizza.de">catering&commat;trattoria-pizza.de</a>
    oder rufen Sie uns unter <a class="telephone" href="tel:+49 30 12345678">+49 30 12345678</a> an.
</p>
<p>
    Außerdem lässt sich unsere Lokalität auch für geschlossene Gesellschaften buchen.
    Diese Option bieten wir erst ab eine Gruppengröße von mindestens 20 Personen an.
    Es wird zudem eine Anzahlung von 50 € pro Person verlangt.
    Darüber hinaus bieten wir Ihnen eine Getränkepauschale für nicht alkoholische Getränke und Bier für den Preis von 35 € pro Person. <br>
    Sollten Sie unsere Trattoria für eine geschlossene Gesellschaft buchen wollen, können Sie uns unter der Telefonnummer <a class="telephone" href="tel:+49 30 12345678">+49 30 12345678</a>
    erreichen oder Sie schreiben eine Email an <a class="email" href="mailto:/private-party@trattoria-pizza.de">private-party&commat;trattoria-pizza.de</a>. <br>
    Optional können Sie auch direkt bei uns im Laden vorbeikommen.
</p>
<h2>Weitere Kontaktmöglichkeiten</h2>
<p>
    Sollten Sie uns aus einem anderen Grund kontaktieren wollen, dann tun Sie das bitte über einen der folgenden Wege: <br>
    E-Mail: <a class="email" href="mailto:/contact@trattoria-pizza.de">contact&commat;trattoria-pizza.de</a> <br>
    Telefon: <a class="telephone" href="tel:+49 30 12345678">+49 30 12345678</a> <br>
    Fax: <span class="fax">+4930314 123 45678</span> <br> <br>
    Oder Sie Kontaktieren uns postalisch unter der Adresse: <br>
    Tratoria Pizza Berlin GmbH <br>
    Alexanderplatz 1 <br>
    10178  Berlin <br>
    Deutschland <br>
</p>