h1, h2 {
  text-align: center;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 20px;
}

#image-trattoria {
  max-width: 300px;
  max-height: 300px;
  border-radius: 50px;
  float: right;
  margin-left: 20px;
}