<h1>Trattoria Pizza</h1>
<p>
    Willkommen bei Trattoria Pizza. <br>
    Wir sind eine Trattoria mit tradition und echtem Steinofen für die Pizza. <br>
    Häufig werden unsere Pizzen oder unsere Pasta in höchsten Tönen gelobt. <br>
    Wir feiern am 30.04 unsere Wiedereröffnung nach einer Umgestaltung der Inneneinrichtung unseres Standortes. <br>
    Wir laden Sie herzlich ein unsere neue Einrichtung bei einer leckeren Steinofenpizza nach italienischer Rezeptur von Nonna zu genießen.
</p>
<h2>Über uns</h2>
<p>
    <img id="image-trattoria" alt="Bild von der Trattoria" src="assets/images/trattoria.jpg">
    Die Trattoria Pizza ist ein Familienunternehmen mit langer Tradition. <br>
    Gegründet wurde unser bescheidenes Lokal bereits 1964 von Luigi und wurde 1990 von seinen Söhnen Francesco und Giuseppe übernommen,
    welche das Unternehmen bis heute führen. <br>
    Francesco hat eine Leidenschaft für die Pizza und hütet sein Steinofen wie seine Augäpfel.
    Giuseppe bereitet alle unsere Pastagerichte vor, seine Saucen bleiben weiterhin unübertroffen. <br>
    Als Luigi damals nach Berlin zog brachte er das geheime Familienrezept seiner Nonna mit sich.
    Dieses Familienrezept ist bereits ist bereits mehrere hundert Jahre alt und ist weiterhin die Grundlage für alle unsere Gerichte. <br>
    Wir freuen uns darüber, dass wir Sie seit mittlerweile über 50 Jahren bewirten dürfen. <br>
    Im Herbst 2023 haben wir begonnen unser kleines Geschäft zu renovieren, um mehr Platz für Sie zu schaffen ohne auf die Atmosphere verzichten zu müssen.
    Dabei haben wir unser Lokal vollkommen neu dekoriert.
    Am 30.04 werden wir die Trattoria Pizza nach dieser kurzen Pause feierlich wiedereröffnet. <br>
    Wir freuen uns schon auf Ihren Besuch!
</p>
