<h1>Anfahrt</h1>
<p>
    <img id="image-trattoria-outside" alt="Außenansicht unserer Tattoria" src="assets/images/trattoriaOutside.jpg">
    Unsere Kunden erfreuen sich an unserer zentralen Lage in Berlin. <br>
    Sie finden uns auf dem Alexanderplatz in Gebäude 1. <br>
    Wir sind innerhalb weniger Minuten vom S-U-Bahnhof Alexanderplatz zu erreichen.
    Diesen Bahnhof erreichen Sie mit der U2, U5, U8, S3, S5, S7, S9, dem RE1, RE2, RE7 und RE8, sowie einigen weiteren Zügen.
    Außerdem finden Sie in unserer Nähe auch einige Bus- und Tram-Haltestellen, sodass Sie auch mit der M2, M4, M5 oder M6 anfahren können.
    Neben einigen Nachtbussen halten hier auch die Buslinien 100, 200, 248 und 300. <br>
    Falls Sie sich die Umgebung selbst einmal ansehen möchten, oder Sie gleich eine Route planen wollen, können Sie die unten dargestellte Karte hierfür verwenden. <br>
    Wir können es kaum erwarten Sie bei uns begrüßen zu dürfen!
</p>
<!-- Eingebettete Karte von Google Maps -->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2427.6778866314485!2d13.412030639047215!3d52.52116822505526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e1f44ecef09%3A0x94a698877167831!2sAlexanderpl.%201%2C%2010178%20Berlin!5e0!3m2!1sde!2sde!4v1710326145984!5m2!1sde!2sde" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
