h1, h2 {
  text-align: center;
}

p {
  font-size: 20px;
}

iframe {
  height: 500px;
  width: 100%;
}

#image-trattoria-outside {
  max-width: 300px;
  max-height: 300px;
  border-radius: 50px;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}