<nav>
    <mat-toolbar>
        <span class="spacer"></span>
        <a [routerLink]="['/home']">Trattoria Pizza</a>
        <a [routerLink]="['/menu']">Menü</a>
        <a [routerLink]="['/reservation']">Reservierungen</a>
        <a [routerLink]="['/delivery']">Reservierungen</a>
        <a [routerLink]="['/direction']">Anfahrt</a>
        <a [routerLink]="['/contact']">Kontakt</a>
        <span class="spacer"></span>
    </mat-toolbar>
</nav>
<main>
    <router-outlet></router-outlet>
</main>
<footer>
    <span class="spacer"></span>
    <a [routerLink]="['/imprint']">Impressum</a>
    <a [routerLink]="['/privacy-policy']">Datenschutz</a>
    <span class="spacer"></span>
</footer>