<nav>
    <mat-toolbar>
        <span class="spacer"></span>
        <a  href="/home">Trattoria Pizza</a>
        <a href="/menu">Menü</a>
        <a href="/reservation">Reservierungen</a>
        <a href="/delivery">Reservierungen</a>
        <a href="/direction">Anfahrt</a>
        <a href="/contact">Kontakt</a>
        <span class="spacer"></span>
    </mat-toolbar>
</nav>
<main>
    <router-outlet></router-outlet>
</main>
<footer>
    <span class="spacer"></span>
    <a href="/imprint">Impressum</a>
    <a href="/privacy-policy">Datenschutz</a>
    <span class="spacer"></span>
</footer>